:root {
    --heading-font: "Geist Mono", monospace;
    --text-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-font);
    background: #000;
}

body::selection {
    background: rgba(124, 27, 214, 0.8);
}

a {
    text-decoration: none;
}

/* Text Animations */
.animation__text--fade-in-left {
    opacity: 0;
    overflow: hidden;
}

.animation__text--fade-in-left span {
    opacity: 0;
    transform: translateX(-30px);
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

/* General Animations */
.animation--fade-in {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

/* Text Styles */
.title.title--medium {
    font-size: 2.5rem;
}

.title--small {
    font-size: 1.2rem;
}

/* Image Styles */
.image {
    border-radius: 20px;
    box-shadow: 0 10px 100px rgba(71, 151, 255, 0.8);
}

/* Navbar Styles */
.nav {
    margin: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 50px #111;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    text-align: right;
    transition: opacity 1s ease-in-out;
}

.nav__link {
    display: inline-block;
    margin: 1.5rem 3rem;
    padding: 0.8rem 1.5rem;
    background-color: #093d91;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.2s
}

.nav__link:hover {
    background-color: rgba(71, 151, 255, 0.8);
    box-shadow: 0 0 10px #11abf7;
}

/* Hero Styles */
.hero {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(6, 17, 79, 1) 100%);
}

.hero__title-container {
    margin-top: 10rem;
    margin-inline: 7rem;
}

.hero__title {
    display: block;
    color: white;
    font-size: 4rem;
    font-weight: 500;
    
}

.hero__button {
    display: inline-block;
    margin-top: 5rem;
    padding: 1rem 2rem;
    color: #fff;
    background: rgba(71, 151, 255, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(71, 151, 255, 0.3);
    box-shadow: 0 10px 50px #333;
    transition: 
        background 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out,
        opacity 1s 0.2s ease-in-out;
}

.hero__button:hover {
    background: rgba(71, 151, 255, 0.8);
    box-shadow: 0 10px 50px rgba(71, 151, 255, 0.8);
}

/* About Styles */
.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
}

.about__text {
    margin: 5rem;
    width: 40%;
}

.title.title--medium.title--about {
    margin-bottom: 1.5rem;
}

.title.title--small.title--about {
    margin: 1.5rem 0;
}

.image.image--about {
    display: inline-block;
    width: 20rem;
    margin: 5rem;
}

/* Footer styles */
.footer {
    margin: 1rem;
    padding: 0.8rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 50px #111;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.footer__text {
    color: #fff;
    font-size: 0.9rem;
    text-align: center;

}

@starting-style {
    .nav,
    .hero__button {
        opacity: 0;
    }
}

@media (width <= 1000px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about {
        flex-direction: column-reverse;
        min-height: 100vh;
    }

    .image.image--about {
        width: 10rem;
        margin-top: 2rem;;
    }

    .about__text {
        width: 80%;
        margin-top: 3rem;
        text-align: center;
    }
}

@media (width <= 650px) {
    .hero__title-container {
        margin-inline: 4rem;
    }

    .hero__title {
        font-size: 2.5rem;
    }
}