:root {
    --heading-font: "Geist Mono", monospace;
    --text-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-font);
    background: #000;
}

body::selection {
    background: rgba(124, 27, 214, 0.8);
}

a {
    text-decoration: none;
}


/* Navbar Styles */
nav {
    margin: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 50px #111;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    text-align: right;
}

nav a {
    display: inline-block;
    margin: 1.5rem 3rem;
    padding: 0.8rem 1.5rem;
    background-color: #093d91;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.2s
}

nav a:hover {
    background-color: rgba(71, 151, 255, 0.8);
    box-shadow: 0 0 10px #11abf7;
}

/* Hero Styles */
.hero {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(6, 17, 79, 1) 100%);
}

h1 {
    display: inline-block;
    text-align: center;
    padding: 3rem 5rem;
    margin: 1rem;
    margin-top: 10rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 50px #333;
    color: white
}

.title-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container a {
    margin-top: 7rem;
    padding: 1rem 2rem;
    color: #fff;
    background: rgba(71, 151, 255, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(71, 151, 255, 0.3);
    box-shadow: 0 10px 50px #333;
    transition: ease-in-out 0.2s;
}

.title-container a:hover {
    background: rgba(71, 151, 255, 0.8);
    box-shadow: 0 10px 50px rgba(71, 151, 255, 0.8);
}

/* About styles */
#about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
}

#about img {
    border-radius: 20px;
    width: 20rem;
    margin: 5rem;
    box-shadow: 0 10px 100px rgba(71, 151, 255, 0.8);
}

#about .text {
    margin: 5rem;
    width: 40%;
}

#about .text h2 {
    font-size: 2.5em;
    margin-bottom: 1.5rem;
}

#about .text h3 {
    margin: 1.5rem 0;
}

/* Footer styles */
footer {
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    margin: 1rem;
    padding: 0.8rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 50px #111;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

@media (width <= 1000px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #about {
        flex-direction: column-reverse;
        min-height: 100vh;
    }

    #about img {
        width: 10rem;
        margin-top: 2rem;;
    }

    #about .text {
        width: 80%;
        margin-top: 3rem;
        text-align: center;
    }
}